@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-11 text-center">
            <h6 class="mb-5">Kategori Güncelleme sayfası</h6>
            <div class="table-responsive">
                <form asp-action="UpdateCategory" method="post">
                    <input type="hidden" id="id" asp-for="Id" required />
                    <label for="Name">Kategori Adı:</label>
                    <input type="text" id="Name" asp-for="Name" required />
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </form>

            </div>
        </div>

    </div>
</div>

