@model CreateProductDto
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-11 text-center">
            <h6 class="mb-5">Kategori ekleme sayfası</h6>
            <div class="table-responsive">
                <form asp-action="AddProduct" method="post">
                    <label for="text">Başlık</label>
                    <input type="text" id="title" asp-for="title" required />
                    <br />
                    <br />
                    <label for="category">Kategori</label>
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, "Kategori Seçiniz", new { @class = "form-control" })
                    <br />
                    <br />
                    <label for="price">Fiyat</label>
                    <input type="text" id="price" asp-for="price" required />
                    <br />
                    <br />
                    <label for="coverimageurl">fotoğraf</label>
                    <input type="url" id="coverimageurl" asp-for="coverImageUrl" required />
                    <br />
                    <br />
                    <label for="city">Şehir</label>
                    <input type="text" id="city" asp-for="city" required />
                    <br />
                    <br />
                    <label for="discrit">ilçe</label>
                    <input type="text" id="discrit" asp-for="discrit" required />
                    <br />
                    <br />
                    <label for="address">Adres</label>
                    <input type="text" id="address" asp-for="address" required />
                    <br />
                    <br />
                    <label for="description">Açıklama</label>
                    <textarea rows="3" id="Name" asp-for="description" required></textarea>
                    <br />
                    <br />
                    <label for="employee">Çalışan</label>
                    <input type="text" id="employee" asp-for="employeeId" required />
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </form>

            </div>
        </div>

    </div>
</div>


